@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #fff;
  color: #212121;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body.dark {
  background-color: #1a202c;
  color: #a0aec0;
}

body.dark input {
  background-color: #2d3748;
  color: #a0aec0;
}

body.dark button {
  background-color: #4a5568;
  color: #a0aec0;
}

body.dark a {
  color: #63b3ed;
}
